<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flightapp">
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FlightApp"
        android:theme="@style/Theme.FlightApp">
        
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
